<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
			<rules>
				<rule name="Rewrite to index.php">
                    <match url="index.php|robots.txt|images" />
                    <action type="None" />
                </rule>
				<rule name="Redirect to WWW" stopProcessing="true">
					<match url=".*" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^wardrep.ca$" />
					</conditions>
					<action type="Redirect" url="http://www.wardrep.ca/{R:0}" redirectType="Permanent" />
				</rule>
				<rule name="Rewrite CI Index">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" pattern="css|js|jpg|jpeg|png|gif|ico|htm|html" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php/{R:0}" />
                </rule>
			</rules>
		</rewrite>
    </system.webServer>
</configuration>